<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<httpProtocol>
			<customHeaders>
				<!-- Set a Access-Control-Allow-Origin header -->
				<add name="Access-Control-Allow-Origin" value="*"/>
			</customHeaders>
		</httpProtocol>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.cfm" />
                <add value="index.htm" />
            </files>
        </defaultDocument>
		<rewrite>
			<rules>
				######################
				# FRONTEND RULES     #
				###################### 
				
				<rule name="home">
					<match url="^$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=danieldecary&amp;action=home" />
				</rule>
				<rule name="home en">
					<match url="^en$" />
					<action type="Rewrite" url="frontend/?lang=en&amp;module=danieldecary&amp;action=home" />
				</rule>
				<rule name="home fr">
					<match url="^fr$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=danieldecary&amp;action=home" />
				</rule>

				<rule name="module action param en">
					<match url="^en/([^/]+)/([^/]+)/([0-9-]+)$" />
					<action type="Rewrite" url="frontend/?lang=en&amp;module={R:1}&amp;action={R:2}&amp;param={R:3}" />
				</rule>

				<rule name="module section action en">
					<match url="^en/([^/]+)/([^/]+)/([^/]+)$" />
					<action type="Rewrite" url="frontend/?lang=en&amp;module={R:1}&amp;section={R:2}&amp;action={R:3}" />
				</rule>

				<rule name="module action en">
					<match url="^en/([^/]+)/([^/]+)$" />
					<action type="Rewrite" url="frontend/?lang=en&amp;module={R:1}&amp;action={R:2}" />
				</rule>

				######################
				# FR RULES           #
				###################### 
				
				<rule name="danieldecary home fr">
					<match url="^fr/danieldecary/accueil$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=danieldecary&amp;action=home" />
				</rule>
				<rule name="danieldecary contact fr">
					<match url="^fr/danieldecary/contact$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=danieldecary&amp;action=contact" />
				</rule>
				<rule name="danieldecary about fr">
					<match url="^fr/danieldecary/a-propos$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=danieldecary&amp;action=about" />
				</rule>
				<rule name="danieldecary about fr">
					<match url="^fr/danieldecary/boutique$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=danieldecary&amp;action=shop" />
				</rule>
				<rule name="services birkman fr">
					<match url="^fr/services/birkman$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=services&amp;action=birkman" />
				</rule>
				<rule name="services conferences fr">
					<match url="^fr/services/conferences$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=services&amp;action=conferences" />
				</rule>
				<rule name="services counselling fr">
					<match url="^fr/services/counselling$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=services&amp;action=counselling" />
				</rule>
				<rule name="services training fr">
					<match url="^fr/services/formation$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=services&amp;action=training" />
				</rule>

				 
				#########################
				# END OF FRONTEND RULES #
				#########################
				
				
				######################
				# Admin rules        #
				######################
				
				<!-- <rule name="backend fr">
					<match url="^backend/fr$" />
					<action type="Rewrite" url="backend/?lang=fr&amp;module=cidso&amp;action=index" />
				</rule>
				<rule name="backend en">
					<match url="^backend/en$" />
					<action type="Rewrite" url="backend/?lang=en&amp;module=cidso&amp;action=index" />
				</rule>

				<rule name="backend module action param en">
					<match url="^backend/en/([^/]+)/([^/]+)/([0-9-]+)$" />
					<action type="Rewrite" url="backend/?lang=en&amp;module={R:1}&amp;action={R:2}&amp;param={R:3}" />
				</rule>

				<rule name="backend module section action param en">
					<match url="^backend/en/([^/]+)/([^/]+)/([^/]+)/([0-9-]+)$" />
					<action type="Rewrite" url="backend/?lang=en&amp;module={R:1}&amp;section={R:2}&amp;action={R:3}&amp;param={R:4}" />
				</rule>

				<rule name="backend module section action en">
					<match url="^backend/en/([^/]+)/([^/]+)/([^/]+)$" />
					<action type="Rewrite" url="backend/?lang=en&amp;module={R:1}&amp;section={R:2}&amp;action={R:3}" />
				</rule>

				<rule name="backend module action en">
					<match url="^backend/en/([^/]+)/([^/]+)$" />
					<action type="Rewrite" url="backend/?lang=en&amp;module={R:1}&amp;action={R:2}" />
				</rule>
				<rule name="backend module action fr">
					<match url="^backend/fr/([^/]+)/([^/]+)$" />
					<action type="Rewrite" url="backend/?lang=fr&amp;module={R:1}&amp;action={R:2}" />
				</rule> -->
				
				######################
				# End of Admin rules #
				######################
				
			</rules>
		</rewrite>
    </system.webServer>
</configuration>
