<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<httpProtocol>
			<customHeaders>
				<!-- Set a Access-Control-Allow-Origin header -->
				<add name="Access-Control-Allow-Origin" value="*"/>
			</customHeaders>
		</httpProtocol>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.cfm" />
                <add value="index.htm" />
            </files>
        </defaultDocument>
		<rewrite>
			<rules>
				######################
				# FRONTEND RULES     #
				###################### 
				
				<rule name="home">
					<match url="^$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=danieldecary&amp;action=home" />
				</rule>
				<rule name="home en">
					<match url="^en$" />
					<action type="Rewrite" url="frontend/?lang=en&amp;module=danieldecary&amp;action=home" />
				</rule>
				<rule name="home fr">
					<match url="^fr$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=danieldecary&amp;action=home" />
				</rule>

				<rule name="module action param en">
					<match url="^en/([^/]+)/([^/]+)/([0-9-]+)$" />
					<action type="Rewrite" url="frontend/?lang=en&amp;module={R:1}&amp;action={R:2}&amp;param={R:3}" />
				</rule>

				<rule name="module section action en">
					<match url="^en/([^/]+)/([^/]+)/([^/]+)$" />
					<action type="Rewrite" url="frontend/?lang=en&amp;module={R:1}&amp;section={R:2}&amp;action={R:3}" />
				</rule>

				<rule name="module action en">
					<match url="^en/([^/]+)/([^/]+)$" />
					<action type="Rewrite" url="frontend/?lang=en&amp;module={R:1}&amp;action={R:2}" />
				</rule>

				######################
				# FR RULES           #
				###################### 
				
				<!-- <rule name="cidso home fr">
					<match url="^fr/cidso/accueil$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=danieldecary&amp;action=home" />
				</rule>
				<rule name="cidso contact fr">
					<match url="^fr/cidso/contact$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=danieldecary&amp;action=contact" />
				</rule>
				<rule name="cidso cms_login fr">
					<match url="^fr/cidso/cms_login$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=danieldecary&amp;action=cms_login" />
				</rule>
				<rule name="about_us our_service fr">
					<match url="^fr/a-propos/nos-services$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=about_us&amp;action=our_services" />
				</rule>
				<rule name="about_us project_description fr">
					<match url="^fr/a-propos/description-du-projet$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=about_us&amp;action=project_description" />
				</rule>
				<rule name="about_us team_members fr">
					<match url="^fr/a-propos/membres-de-l-equipe$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=about_us&amp;action=team_members" />
				</rule>
				<rule name="interns_and_volunteers index fr">
					<match url="^fr/stagiaires-et-benevoles/index$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=interns_and_volunteers&amp;action=index" />
				</rule>
				<rule name="news index fr">
					<match url="^fr/actualites/index$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=news&amp;action=index" />
				</rule>
				<rule name="partners index fr">
					<match url="^fr/partenaires/index$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=partners&amp;action=index" />
				</rule>
				<rule name="research index fr">
					<match url="^fr/recherche/index$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=research&amp;action=index" />
				</rule>
				<rule name="resources index fr">
					<match url="^fr/ressources/index$" />
					<action type="Rewrite" url="frontend/?lang=fr&amp;module=resources&amp;action=index" />
				</rule> -->
				 
				#########################
				# END OF FRONTEND RULES #
				#########################
				
				
				######################
				# Admin rules        #
				######################
				
				<!-- <rule name="backend fr">
					<match url="^backend/fr$" />
					<action type="Rewrite" url="backend/?lang=fr&amp;module=cidso&amp;action=index" />
				</rule>
				<rule name="backend en">
					<match url="^backend/en$" />
					<action type="Rewrite" url="backend/?lang=en&amp;module=cidso&amp;action=index" />
				</rule>

				<rule name="backend module action param en">
					<match url="^backend/en/([^/]+)/([^/]+)/([0-9-]+)$" />
					<action type="Rewrite" url="backend/?lang=en&amp;module={R:1}&amp;action={R:2}&amp;param={R:3}" />
				</rule>

				<rule name="backend module section action param en">
					<match url="^backend/en/([^/]+)/([^/]+)/([^/]+)/([0-9-]+)$" />
					<action type="Rewrite" url="backend/?lang=en&amp;module={R:1}&amp;section={R:2}&amp;action={R:3}&amp;param={R:4}" />
				</rule>

				<rule name="backend module section action en">
					<match url="^backend/en/([^/]+)/([^/]+)/([^/]+)$" />
					<action type="Rewrite" url="backend/?lang=en&amp;module={R:1}&amp;section={R:2}&amp;action={R:3}" />
				</rule>

				<rule name="backend module action en">
					<match url="^backend/en/([^/]+)/([^/]+)$" />
					<action type="Rewrite" url="backend/?lang=en&amp;module={R:1}&amp;action={R:2}" />
				</rule>
				<rule name="backend module action fr">
					<match url="^backend/fr/([^/]+)/([^/]+)$" />
					<action type="Rewrite" url="backend/?lang=fr&amp;module={R:1}&amp;action={R:2}" />
				</rule> -->
				
				######################
				# End of Admin rules #
				######################
				
			</rules>
		</rewrite>
    </system.webServer>
</configuration>
